$primary-color: #1d72b8;
$secondary-color: #4b9cd3;
$tertiary-color: rgb(255,152,0);

$link-color: rgb(245,245,245);
$link-hover-color: $tertiary-color;
$star-color: #FFD700;

$font-family: 'Arial, sans-serif';

$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-sm: 1024px;
$padding: 1rem;