@import "../abstracts";

.header{
    background-color: $secondary-color !important;
  
    &__img{
      height: 50px;
    }
  
    &__boton{
      background-color: $tertiary-color !important;
    }
}